@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

:root {
	--background: #000;
	--font: #fff;
}

body {
	/* Use system default font */
	font: caption;
	
	/* Disable text selection */
	user-select: none;
	-webkit-app-region: drag;
	
	/* Fade app in */
	animation: fadein 1s;
	
	/* Page styling */
    overflow: hidden;
	
	font-family: "Courier New", Courier, monospace;
	
	background-color: var(--background);
	color: var(--font);
}

.container {
	max-width: 32rem;
	padding: 2rem 2rem;
	margin: 0 auto;
}

ul {
	padding: 0;
	margin: 0;
}
ul > li {
	margin-top: 1rem;
}
ul > li:first-child {
	margin-top: 0;
}

ul#stories {
	list-style-type: none;
}
ul#stories > li {
	text-decoration: underline;
}
ul#stories > li:hover {
	cursor: pointer;
}

ul#messenger {
	list-style-type: none;
}

ul#messenger > li.other {
    text-align: justify;
    text-justify: inter-word;
	
	animation: fadein 1s;
}
ul#messenger > li.other > .char {
	font-weight: bold;
}

ul#messenger > li.self {
	text-align: right;
	
	animation: fadein 1s;
}